* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.container {
    min-height: 100%;
    display: grid;
    grid-template-rows: 300px calc((100% - 300px)/2);
}

#palette {
    display: grid;
}

.memorized_color {
    height: 100%;
}

#color_picker {
    display: grid;
    align-content: space-evenly;
    justify-content: space-around;
}

#playground {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}

#bottom_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#palette {
    display: grid;
    gap: 0.5%;
    grid-auto-rows: 90%;
    align-content: space-evenly;
    justify-content: space-around;
}