* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.container {
    min-height: 100%;
    display: grid;
    grid-template-rows: 300px calc(100% - 300px);
}

#color_memory {
    display: grid;
    gap: 0.5%;
    grid-auto-rows: 90%;
    align-content: space-evenly;
    justify-content: space-around;
}

.memorized_color {
    height: 100%;
}

#color_picker {
    display: grid;
    align-content: space-evenly;
    justify-content: space-around;
}

#bottom_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
